.feynman__title {
    margin: 0;
    padding: 0;
    width: 648px;
    font-size: 120px;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
    display: flex;
    z-index: 1;
    align-self: center;
  }