.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    font-size: 36px;
    font-weight: normal;
    line-height: 51px;
    color: #2f80ed;
    text-decoration: none;
    z-index: 1;
    transition: opacity, 0.8s;
  }
  .feynman__link:hover {
    opacity: 0.5;
  }