.section-title {
    width: 60%;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }