.feynman {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 890px;
    position: relative;
    background-color: #f2f2f2;
    background-image: url(../../images/feynman.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }
