.feynman {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 890px;
    position: relative;
    background-color: #f2f2f2;
    background-image: url(https://github.com/Korzyukova/how-to-learn/blob/04f1e773c907a4053a8061f5c35abe6f1a7cde3a/images/feynman.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }
