.footer__column-link {
  color: white;
  display: block;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  transition: opacity, 0.8s;
}
.footer__column-link:hover {
  opacity: 0.5;
}
