.header {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 765px;
    min-height: 600px;
    max-height: 756px;
    overflow: hidden;
  }