.khan__buy-link {
    margin:0;
    margin-left: 48px;
    font-size: 30px;
    font-weight: normal;
    line-height: 42px;
    color: #2f80ed;
    text-decoration: none;
    transition: opacity, 0.1s;
    align-self:flex-start;
  }
  .khan__buy-link:hover {
    opacity: 0.6;
  }